<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<h1>Sign Up page</h1>

<form method="post" style="max-width:600px;" th:object="${user}"><br/>

    <div class="form-group">
        <label th:for="firstName">First Name:</label>
        <input class="form-control" th:field="*{firstName}" />
        <span th:errors="*{firstName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="lastName">Last Name:</label>
        <input class="form-control" th:field="*{lastName}" />
        <span th:errors="*{lastName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="age">Age:</label>
        <input class="form-control" th:field="*{age}" />
        <span th:errors="*{age}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email Address:</label>
        <input class="form-control" th:field="*{email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="username">Username</label>:
        <input class="form-control" th:field="*{userName}" />
        <span th:errors="*{userName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>:
        <input class="form-control" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password"> Retype Password</label>:
        <input class="form-control" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="insurance">Insurance Id</label>:
        <input class="form-control" th:field="*{insuranceId}" />
        <span th:errors="*{insuranceId}" class="error"></span>
    </div>

    <input type="submit" value="Register User" /><br/>


</form>



</body>
</html>